services:  
  oidc:
    image: ugentlib/oidc-mock:latest
    ports:
      - 3350:3350
    environment:
      PORT: 3350
      CLIENT_ID: bbl
      CLIENT_SECRET: bbl
      REDIRECT_URI: http://localhost:3000/backoffice/auth/callback

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DATABASE: bbl
      POSTGRES_USER: bbl
      POSTGRES_PASSWORD: bbl
      PGPORT: 3351
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - 3351:3351
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bbl -d bbl"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    command: server /data -address ":3371" --console-address ":3372"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    ports:
      - 3371:3371
      - 3372:3372
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3371/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  mc:
    image: minio/mc
    depends_on:
      - minio
      # minio:
      #   condition: service_healthy
    restart: on-failure
    entrypoint:
      - sh
      - -c
      - |
        sleep 2;
        mc alias set docker http://minio:3371 minioadmin minioadmin;
        mc mb docker/bbl --ignore-existing;

  opensearch-node1:
    image: opensearchproject/opensearch:3.3.2
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node1
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true # disable JVM heap memory swapping
      - plugins.security.disabled=true
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g" # set min and max JVM heap sizes to at least 50% of system RAM
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=Y8yk+GRrk"
    ulimits:
      memlock:
        soft: -1 # set memlock to unlimited (no soft or hard limit)
        hard: -1
      nofile:
        soft: 65536 # max number of open files for the opensearch user - set to at least 65536
        hard: 65536
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - 3352:9200
      - 3353:9600 # performance analyzer
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cat/health?v || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  opensearch-node2:
    image: opensearchproject/opensearch:3.3.2
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node2
      - discovery.seed_hosts=opensearch-node1,opensearch-node2
      - cluster.initial_cluster_manager_nodes=opensearch-node1,opensearch-node2
      - bootstrap.memory_lock=true
      - plugins.security.disabled=true
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD=Y8yk+GRrk"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data2:/usr/share/opensearch/data
    ports:
      - 9200
      - 9600
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cat/health?v || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  centrifugo:
    container_name: centrifugo
    image: centrifugo/centrifugo:v6
    command: centrifugo
    ports:
      - 3357:8000
    environment:
      CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY: bbe7d157-a253-4094-9759-06a8236543f9
      CENTRIFUGO_CLIENT_ALLOWED_ORIGINS: '*'
      CENTRIFUGO_ADMIN_PASSWORD: d0683813-0916-4c49-979f-0e08a686b727
      CENTRIFUGO_ADMIN_SECRET: 4e9eafcf-0120-4ddd-b668-8dc40072c78e
      CENTRIFUGO_ADMIN_ENABLED: 'true'
      CENTRIFUGO_HTTP_API_KEY: d7627bb6-2292-4911-82e1-615c0ed3eebb
    ulimits:
      nofile:
        soft: 65535
        hard: 65535

  citeproc:
    image: ugentlib/citeproc-server:latest
    ports:
      - 8085:8085

volumes:
  postgres-data:
    driver: local
  minio-data:
    driver: local
  opensearch-data1:
    driver: local
  opensearch-data2:
    driver: local
