package works

import (
	"github.com/ugent-library/bbl"
	"github.com/ugent-library/bbl/app/views"
	"github.com/ugent-library/bbl/app/views/backoffice"
)

templ Show(c views.Ctx, rec *bbl.Work) {
	@backoffice.Page(c, "Work") {
		{ rec.Title() }
	}
}
