package works

import (
	"github.com/ugent-library/bbl"
	"github.com/ugent-library/bbl/app/views"
	"github.com/ugent-library/bbl/app/views/discovery"
)

templ Show(c views.Ctx, rec *bbl.Work) {
	@discovery.Page(c, "Work") {
		{ rec.GetTitle() }
	}
}
